.nav {
  align-items: left;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}


.nav-link {
  margin-top: 15px;
  margin-bottom: 10px;
  justify-content:left;
  align-items: left;
  display: flex;
}

.nav-item {
  margin-top: 15px;
  margin-bottom: 10px;

}